# Lab 1 - Pandas Intro

In [1]:
import pandas as pd

movies_df = pd.read_csv("movie.csv")
movies_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## Questions

**0.** What is the average IMDB Score of all the movies?

In [41]:
mask = movies_df.imdb_score.mean()
print(f'The average IMDB Score is {mask}')

The average IMDB Score is 6.4374288039056085

**1.** How many movies have "Star Wars" in the movie_title field?

In [66]:
mask = movies_df.movie_title.str.contains("Star Wars") 
star = movies_df[mask].movie_title
print(f'There are {mask.sum()} movies with "Star Wars" in the Title')
star

There are 8 movies with "Star Wars" in the Title

4           Star Wars: Episode VII - The Force Awakens
233       Star Wars: Episode III - Revenge of the Sith
234       Star Wars: Episode II - Attack of the Clones
237          Star Wars: Episode I - The Phantom Menace
1521        Star Wars: Episode VI - Return of the Jedi
2031    Star Wars: Episode V - The Empire Strikes Back
2973                Star Wars: Episode IV - A New Hope
3271                         Star Wars: The Clone Wars
Name: movie_title, dtype: object

**2.** Which movie has the highest IMDB Score? What is that score?

In [103]:
mask = movies_df.imdb_score.max()
high = movies_df.imdb_score == mask
movie = movies_df[high].movie_title
print(f'The highest IMDB score with {mask} is {movie}')

The highest IMDB score with 9.5 is 2725    Towering Inferno
Name: movie_title, dtype: object

**3**. Which movie has the lowest IMDB Score? What is that score?

In [124]:
mask = movies_df.imdb_score.min()
high = movies_df.imdb_score == mask
movie = movies_df[high].movie_title
print(f'The Lowest IMDB score with {mask} is {movie}')

The Lowest IMDB score with 1.6 is 2789    Justin Bieber: Never Say Never
Name: movie_title, dtype: object

**4.** For each director, how many movies have they directed (from this dataset)?

In [213]:
movies_df.director_name.value_counts()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: director_name, Length: 2397, dtype: int64

**5.** What's the average duration of Action movies?

In [205]:
mask = movies_df[movies_df.genres.str.contains("Action")]
print(f'The average duration of Action Movies is {mask.duration.mean()}')

The average duration of Action Movies is 110.67657657657658

**6.** Which PG-13 movie had the biggest budget?

In [206]:
mask = movies_df.content_rating == "PG-13"
maxBudget = movies_df[mask].budget.max()
jeep = movies_df.budget == maxBudget
jeepBudget = movies_df[jeep].movie_title
print(f'The PG-13 movie with the biggest budget of ${maxBudget} is {jeepBudget}')

The PG-13 movie with the biggest budget of $2400000000.0 is 2294    Princess Mononoke
Name: movie_title, dtype: object

**7.** How many movies were made in each year (title_year)?

In [214]:
movies_df.title_year.value_counts()

2009.0    253
2014.0    243
2006.0    233
2013.0    231
2010.0    225
         ...
1932.0      1
1916.0      1
1934.0      1
1925.0      1
1920.0      1
Name: title_year, Length: 91, dtype: int64

**8.** How many movies had more than 10000 movie_facebook_likes?

In [215]:
mask = movies_df.movie_facebook_likes >= 10000
print(f'There were {mask.sum()} movies that had more than 10000 Facebook likes')

There were 1098 movies that had more than 10000 Facebook likes


**9.** How many movies have "Tom Hanks" (as actor1, actor2, or actor3)?

In [216]:
mask = ((movies_df.actor_1_name == "Tom Hanks") |
 (movies_df.actor_2_name == "Tom Hanks") |
  (movies_df.actor_3_name == "Tom Hanks")).sum()
print(f'Tom hanks was in {mask} movies')

# mask = movies_df.actor_1_name.isin(["Kevin Hart", "Dwayne Johnson"])
# mask
# movies_df[ mask ].movie_title

Tom hanks was in 28 movies

**10.**  What are the movies and number of voted users (num_voted_users) for movies that have less than 2 faces in the poster (facenumber_in_poster)?

In [217]:
mask = movies_df[movies_df['facenumber_in_poster'] < 2]
data = mask[['movie_title', 'num_voted_users', 'facenumber_in_poster']]
data

,movie_title,num_voted_users,facenumber_in_poster
0,Avatar,886204,0.0
1,Pirates of the Caribbean: At World's End,471220,0.0
2,Spectre,275868,1.0
3,The Dark Knight Rises,1144337,0.0
4,Star Wars: Episode VII - The Force Awakens,8,0.0
...,...,...,...
4909,The Mongol King,36,0.0
4910,Newlyweds,1338,1.0
4912,The Following,73839,1.0
4913,A Plague So Pleasant,38,0.0
4915,My Date with Drew,4285,0.0

**11.** What are the directors and number of director facebook likes for movies made beteween 2000 and 2004 (inclusive) sorted in descending order of director facebook likes?

In [246]:
mask = movies_df[(movies_df['title_year']>=2000) & (movies_df['title_year']<=2004)].sort_values('director_facebook_likes', ascending=False)
mask[['director_name', 'director_facebook_likes']]

             director_name  director_facebook_likes
1057     Christopher Nolan                  22000.0
3646     Christopher Nolan                  22000.0
1034         David Fincher                  21000.0
2849     Denzel Washington                  18000.0
2023          Kevin Spacey                  18000.0
...                    ...                      ...
2081           Kevin Smith                      0.0
1935  Paul Thomas Anderson                      0.0
1896              John Eng                      0.0
1895       Cathy Malkasian                      0.0
31               Sam Raimi                      0.0

[932 rows x 2 columns]

12. What are the missing values (NaN)

In [247]:
movies_df.num_critic_for_reviews.isna().sum()

49